<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGaRR0GhWd9FxGQc5-wAYmzMA8mSj0KS0</string>
	<key>GCM_SENDER_ID</key>
	<string>997071369157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weedClub</string>
	<key>PROJECT_ID</key>
	<string>weed-club-db</string>
	<key>STORAGE_BUCKET</key>
	<string>weed-club-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997071369157:ios:93d640c997449eeafed1ac</string>
</dict>
</plist>